astroid==1.6.6
certifi==2019.11.28
chardet==3.0.4
Click==7.0
coverage==5.0.3
Deprecated==1.2.7
Django==3.0.3
django-appconf==1.0.3
django-widget-tweaks==1.4.5
dparse==0.4.1
easy-thumbnails==2.7
entrypoints==0.3Fabric3==1.14.post1
Fabric3==1.14.post1
flake8==3.7.9
gunicorn==20.0.4
idna==2.9
isort==4.3.21
Jinja2==2.11.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mysql-connector-python==8.0.19
mysqlclient==1.4.6
packaging==20.1
pilkit==2.0
Pillow==7.0.0
protobuf==3.11.3
pycodestyle==2.5.0
pyflakes==2.1.1
PyGithub==1.46
PyJWT==1.7.1
pylint==2.4.4
PyMySQL==0.9.3
pyparsing==2.4.6
python-decouple==3.3
python-gitlab==2.0.1
python-memcached==1.59
pytz==2019.3
pyupio==1.0.2
PyYAML==5.3
requests==2.23.0
safety==1.8.5
six==1.14.0
sqlparse==0.3.0
tqdm==4.43.0
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.12.0