{% extends "base.html" %}
{% load static %}

<!-- Main content -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div class="page-title">
              <h1 class="heading mentions">Mentions <b>légales</b></h1>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 margin-top-35">
            {% for mention in mentions %}

            <h2 class="mentions">{{ mention.categorie}}</h2>
            {% autoescape off %}
                <p>{{ mention.contenu | linebreaks | safe}}<p>
            {% endautoescape %}

            <!-- Default value if no mention is found -->
            {% empty %}
                <p>Oups, aucune mention légale aujourd'hui, ce doit être une erreur !</p>
                <meta http-equiv="refresh" content="3;url={% url "storiesMain" %}">

            <!-- Default value if no mention is found : END -->

            {% endfor %}
            <!-- Each occurence of mentions category is displayed : END FOR -->

        </div>
    </div>
</div>

{% endblock %}

<!-- Main content : END -->


<!-- Footer : none -->
{% block footer %}
{% endblock %}
<!-- Footer : none : END -->