{% extends "base.html" %}
{% load static %}

<!-- Main content -->

{% block content %}
<div class="container error-500">
    <div class="row">
        <div class="col-sm-12 ">
            <h1 class="heading-500"><b>Oups ... !</b><br></h1>
            <h2 class="heading-500">Il semblerait que la communication devienne compliquée d'où vous êtes.
                                Nous en sommes désormais avertis et allons essayer de revenir sur Terre dans les 500 jours !</h2>

            <h4 class="heading-500"> Por favor, ne paniquez pas car vous n'y êtes pour rien ! Revenez simplement plus tard.</h4>
        </div>
    </div>
</div>

{% endblock %}

<!-- Main content : END -->


<!-- Footer : none -->
{% block footer %}
{% endblock %}
<!-- Footer : none : END -->