{% extends "base.html" %}
{% load static %}

<!-- Main content -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
          <div class="page-title">
              <h1 class="heading mentions">Mentions <b>légales</b></h1>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 margin-top-35">
            <h2 class="mentions">Editeur du site</h2>
                <p>Ce site est édité par Maxime Boulanghien.<p>
                
            <h2 class="mentions">Hébergement</h2>
                <p>Ce site est hébergé sur un serveur ScaleWay, maintenu par l'éditeur du site.</p>

            <h2 class="mentions">Propriété intellectuelle</h2>
                <p>Parlons peu, parlons bien : je suis le seul propriétaire des droits de propriété intellectuelle de toutes les photos que vous verrez sur ce site.
                Il en est de même pour les différents textes et poèmes qui les accompagnent. Sont donc interdites toutes reproductions, publications, modifications
                ou adaptations de tous les éléments de ce site, quel que soit le moyen utilisé. Toute exploitation non autorisée est évidemment considérée 
                comme contrefaçon. N'hésitez pas cependant à vous rapprocher de moi dans ce cas de figure.</p>

            <h2 class="mentions">Cookies</h2>
                <p>Les cookies, s'il y en a, susceptibles d'être installés sur votre navigateur web ne visent qu'à vous fournir un service minimum.
                Aucun traceur lié à des opérations publicitaires, mesures d'audience ou partage par réseaux sociaux n'est ici utilisé. Les seuls cookies
                susceptibles d'être installés sont liés à la persistance de choix d'interface, plus particulièrement de choix de langue (i18n), et ne
                nécessitent pas d'obtenir votre consentement préalable. N'oubliez pas de configurer correctement votre navigateur web pour vous aider
                à exercer valablement votre choix face aux cookies (personnellement, j'ai une préférence pour les tous chocolat). De nombreuses ressources 
                sont disponibles sur la toile pour vous aider ; la CNIL propose par exemple une page d'information concise à ce sujet : </p>
                <a class="mentions" href="https://www.cnil.fr/fr/site-web-cookies-et-autres-traceurs" target="_blank">Sites web, cookies et autres traceurs.</a> 
        </div>
    </div>
</div>

{% endblock %}

<!-- Main content : END -->


<!-- Footer : none -->
{% block footer %}
{% endblock %}
<!-- Footer : none : END -->